
<section class="impact-section">

<div class="impact-wrapper">

<h2 class="section-title">Awards</h2>

<div class="impact-grid">

<div class="impact-card" >
<h3><span class="award-medal">🥈</span> Second Place – State Level Hackathon</h3>
<p>
Won 2nd place with a ₹5,000 cash prize at a two day state level hackathon conducted by Meenakshi Engineering College for developing an sleep monitoring solution.</p>
<a href="https://drive.google.com/drive/folders/1MTTAc9YvQqGxInihkjQb-kFTrd8NhYrR" class="project-btn demo">View</a>
</div>

<div class="impact-card">
<h3>Best Real World Applicability Award – National Level Ideathon</h3>
<p>
Received this award at Aarupadai Veedu Institute of Technology for presenting the idea on AI and IoT based sleep apnea detection system designed for practical healthcare impact.
</p>
<a href="https://drive.google.com/file/d/1UV2GJKhdJ8Ky9dtXMhCNlpLQrNaIwYVI/view?usp=sharing" class="project-btn demo">View</a>
</div>

<div class="impact-card">
<h3>Innovative Idea Award – TECHVOLUTION’25 Paper Presentation</h3>
<p>
Awarded for presenting an innovative research idea at the TECHVOLUTION’25 paper presentation event organized by the Department of Electronics and Communication Engineering in association with the Institution of Engineers (India) Student Chapter.
</p>
<a href="https://drive.google.com/file/d/1o_9w22Ym_2LYt18cJRN9aEf2MwmbJbkE/view?usp=sharing" class="project-btn demo">View</a>
</div>


</div>

</div>


</section>
<section class="impact-section">

<div class="impact-wrapper">

<h2 class="section-title">Certification</h2>

<div class="impact-grid">

<div class="impact-card">
<h3>Machine Learning Specialization – Stanford University (Andrew Ng)</h3>

<p>
Comprehensive training in supervised learning, neural networks, regression models, and machine learning fundamentals.
</p>

<a href="https://www.coursera.org/account/accomplishments/specialization/certificate/WAIFGLDXFS8M" class="project-btn demo">View</a>

</div>


<div class="impact-card">
<h3>100 Days of Code: The Complete Python Pro Bootcamp – Udemy</h3>

<p>
Hands on training covering Python programming, automation, web development, data science, and machine learning.
</p>

<a href="https://www.udemy.com/certificate/UC-a0c75562-62a8-48fd-afe9-fcb2ad485a58/" class="project-btn demo">View</a>

</div>


<div class="impact-card">
<h3>Python for Data Science – NPTEL</h3>

<p>
Focused on data analysis, statistics, Python programming, and data science workflows using Pandas and NumPy.
</p>

<a href="https://drive.google.com/file/d/1VNVzMthMmmzSW0KGgv66tNxTgf7pGJ9y/view?usp=drive_link" class="project-btn demo">View</a>

</div>

</div>

</div>

</section>