<section class="updates-section">

<div class="container">

<h2 class="section-title text-center mb-5">
Recent Updates
</h2>

<div id="updatesCarousel"
     class="carousel slide"
     data-bs-ride="carousel"
     data-bs-interval="3000"
     data-bs-pause="hover">
<div class="carousel-indicators">
<button type="button" data-bs-target="#updatesCarousel" data-bs-slide-to="0" class="active"></button>
<button type="button" data-bs-target="#updatesCarousel" data-bs-slide-to="1"></button>
<button type="button" data-bs-target="#updatesCarousel" data-bs-slide-to="2"></button>
</div>


<div class="carousel-inner">


<!-- Slide 1 -->

<div class="carousel-item active">

<div class="update-slide">

<img src="/static/images/hackathon.png" class="update-image">

<div class="update-content">

<h3>Second Place – State Level Hackathon</h3>

<p>
Secured 2nd place in a state level hackathon by developing an AI based nightmare detection system that monitors sleep patterns and triggers vibration feedback to help the user return to stable deep sleep.
</p>

<span class="update-year">2026</span>

</div>

</div>

</div>


<!-- Slide 2 -->

<div class="carousel-item">

<div class="update-slide">

<img src="/static/images/ideathon.jpeg" class="update-image">

<div class="update-content">

<h3>Best Real World Applicability – Ideathon</h3>

<p>
Won the Best Real World Applicability award at a national level ideathon for presenting a low cost AI and IoT based sleep apnea monitoring system designed for practical healthcare use.
</p>

<span class="update-year">2026</span>

</div>

</div>

</div>


<!-- Slide 3 -->

<div class="carousel-item">

<div class="update-slide">

<img src="/static/images/apnea_project.jpeg" class="update-image">

<div class="update-content">

<h3>Recent Project - Sleep Apnea Detecting and Monitoring System</h3>

<p>
Developed a low cost AI and IoT system that detects sleep apnea events using breathing audio and physiological signals for real time monitoring and alerts.
</p>

<span class="update-year">2026</span>

</div>

</div>

</div>


</div>


<button class="carousel-control-prev" type="button" data-bs-target="#updatesCarousel" data-bs-slide="prev">
<span class="carousel-control-prev-icon"></span>
</button>

<button class="carousel-control-next" type="button" data-bs-target="#updatesCarousel" data-bs-slide="next">
<span class="carousel-control-next-icon"></span>
</button>

</div>

</div>

</section>