<section class="projects-section">

<div class="projects-wrapper">

<h2 class="section-title">Featured Projects</h2>

<div class="projects-grid">


<!-- Project 1 -->

<div class="project-card">

<img src="/static/images/apnea_project.jpeg" class="project-image">

<div class="project-content">

<h3>AI Enabled Sleep Apnea Detecting and Monitoring System with Alerts</h3>

<p>
This project processes breathing audio samples and performs real time inference using an AI model integrated with IoT sensors. </p>

<div class="project-tech">

<span>Python</span>
<span>Tensorflow</span>
<span>Flask</span>
<span>Embedded C</span>
<span>ESP32</span>
<span>Embedded C</span>
<span>Signal Processing</span>
<span>MFCC</span>

</div>

<div class="project-buttons">

<!-- <a href="#" class="project-btn github">GitHub</a> -->
<a href="https://drive.google.com/drive/folders/1q6aCcG38-Pu_Kst7kT0JsKw1V3vuf_Op" class="project-btn demo">Drive</a>

</div>

</div>

</div>



<!-- Project 2 -->

<div class="project-card">

<img src="/static/images/leaf.png" class="project-image">

<div class="project-content">

<h3>Crop Disease Detection</h3>

<p>
The system classifies potato and tomato diseases with high accuracy using trained CNN models. 
</p>

<div class="project-tech">
<span>Python</span>
<span>TensorFlow</span>
<span>OpenCV</span>
<span>CNN</span>
<span>Image Processing</span>
<span>Numpy</span>
</div>

<div class="project-buttons">

<!-- <a href="#" class="project-btn github">GitHub</a> -->
<a href="https://github.com/Lingesh-7/Crop-Disease-Classifier" class="project-btn demo">Github</a>

</div>

</div>

</div>







<!-- Project 3 -->

<div class="project-card">

<img src="/static/images/real.png" class="project-image">

<div class="project-content">

<h3>Real Estate ML Prediction System</h3>

<p>
Machine learning model predicting Bengaluru housing prices with data preprocessing and regression models.
</p>

<div class="project-tech">

<span>Python</span>
<span>Pandas</span>
<span>Scikit-Learn</span>
<span>Flask</span>
<span>Numpy</span>
<span>Regression Models</span>
<span>Feature Engineering</span>
</div>

<div class="project-buttons">

<a href="https://github.com/Lingesh-7/Real-Estate-Prediction-ML" class="project-btn github">GitHub</a>
<a href="https://real-estate-prediction-ml.onrender.com/" class="project-btn demo">Demo</a>

</div>

</div>

</div>





<div class="project-card">

<img src="/static/images/res.png" class="project-image">

<div class="project-content">

<h3>AI Powered News Research Tool</h3>

<p>
The system extracts insights from articles and enables users to ask contextual questions about the content.</p>

<div class="project-tech">

<span>Python</span>
<span>LangChain</span>
<span>LLMs</span>
<span>FAISS</span>
<span>HuggingFace Embeddings</span>
<span>Streamlit</span>
<span>Pandas</span>
</div>

<div class="project-buttons">

<!-- <a href="https://github.com/Lingesh-7/Real-Estate-Prediction-ML" class="project-btn github">GitHub</a> -->
<a href="https://github.com/Lingesh-7/News-Research-Tool-using-Langchain" class="project-btn demo">GitHub</a>

</div>

</div>

</div>




<div class="project-card">

<img src="/static/images/bot.png" class="project-image">

<div class="project-content">

<h3>Twitter News Bot for Puducherry</h3>

<p>
Automated news aggregation bot that collects regional news, processes the content, and posts updates automatically to Twitter.</p>
<div class="project-tech">

<span>Python</span>
<span>Web Scraping</span>
<span>Selenium</span>
<span>BeautifulSoup</span>
<span>Automation</span>
</div>

<div class="project-buttons">

<!-- <a href="https://github.com/Lingesh-7/Real-Estate-Prediction-ML" class="project-btn github">GitHub</a> -->
<a href="https://github.com/Lingesh-7/Twitter-News-Bot-for-Puducherry" class="project-btn demo">GitHub</a>

</div>

</div>

</div>




<div class="project-card">

<img src="/static/images/v1.png" class="project-image">

<div class="project-content">

<h3>Celebrity Image Classification System</h3>

<p>
The system performs face detection and classification with a trained SVM model for real time predictions.</p>
<div class="project-tech">

<span>Python</span>
<span>OpenCv</span>
<span>cikit Learn</span>
<span>SVM</span>
<!-- <span>Automation</span> -->
</div>

<div class="project-buttons">

<!-- <a href="https://github.com/Lingesh-7/Real-Estate-Prediction-ML" class="project-btn github">GitHub</a> -->
<a href="https://github.com/Lingesh-7/Image-Classification-Using-ML" class="project-btn demo">GitHub</a>

</div>

</div>

</div>









</div>

</div>

</section>


